.container__home{
  padding: 0 40px;
  width: 100%;
}

.btn {
  line-height: 1.5;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: var(--main-color);
  font-weight:500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}
.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: height 0.3s ease;
}

.btn:hover::before {height: 100%;}
.btn:hover{color: var(--branco);}
.home__section{ padding: 120px 0;}
.home__section.active{ display: flex; }
.home__text,
.home__img {
  width: 50%;
  padding: 15px;
}
.home__text p{font-size: 18px;}
.home__text h1{font-size: 50px; text-transform: capitalize;}
.home__text h2{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 30px;
  }
.home__text .btn {
  margin: 0 15px 15px 0;
  }
.home__img .img__box{
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: solid 8px var(--white-alpha-25);
  margin: auto;
}
.home__img .img__box img {
  width: 100%;
  border-radius: 50%;
}

@media(max-width:991px){
  .container__home{
    padding: 0;
  }
  .home__text,
  .home__img{
    width: 100%;
  }
  .home__text{
    text-align: center;
  }
  .home__img{order: -1;}
  .img__box{width: 300px;}
  .home__text .btn{ margin: 0 7px 15px; }
}

@media( max-width: 575px ){
  .home__text h1{font-size: 30px;}
  .home__text h2{font-size: 18px;}
}